{% extends "main/header.html "%}
{% load static  %}
{% load crispy_forms_tags %}
{% block content%}
 
<br><br>
<h2>Add  Child of {{ motherinfo.patient_name }} {{ motherinfo.patient_surname }}</h2>



  

 <form method="POST" enctype="multipart/form-data" autocomplete="off">
       {% csrf_token %}
     <div class="container">
  <div class="row">
    <div class="col">
      {{ form|crispy }}

    <!-- <input type="text" id="apgar"/> -->
      <button type="submit" class="btn btn-info">
        Submit
       
       </button>
        <a href="{% url 'child-list' %}"><button class="btn btn-danger">
        Dead Child
       
       </button></a>
    </div>
    <div class="col">
    
    
    </div>
  
  </div>
</div>
<hr/>
<script src="{% static 'main/js/jquery.js' %}"></script>  



<script>
  $("input").on("input", function() {
    var ret = parseInt($("#id_heartrate").val()) + parseInt($("#id_muscletone").val() )
      + parseInt($("#id_skincolour").val() )
      + parseInt($("#id_reflex").val() ) 
     + parseInt($("#id_Breathing").val() ) 
    //   + parseInt($("#id_muscletone").val() )

    $("#apgar").val(ret);
    $("#id_agparscore").val(ret);
  });

  
 
  
</script>


{% endblock content %}


  
 
  
</script>