{% extends "main/header.html "%}
{% load static  %}
{% load crispy_forms_tags %}
{% block content%}
 
<br><br>
<h2>Add  Agpare score Test for {{ childregno.childregno }}</h2>



  

 <form method="POST" enctype="multipart/form-data" autocomplete="off">
       {% csrf_token %}
     <div class="container">
  <div class="row">
    <div class="col">
      {{ form|crispy }}

   
      <button type="submit" class="btn btn-info">
        Submit
       
       </button>
    </div>
    <div class="col">
    
    
    </div>
  
  </div>
</div>
<hr/>
<script src="{% static 'main/js/jquery.js' %}"></script>  



<script>
  $("input").on("input", function() {
    var ret = parseInt($("#id_heart_rate").val()) + parseInt($("#id_muscle_tone").val() )
      + parseInt($("#id_skin_colour").val() )
      + parseInt($("#id_re_flex").val() ) 
     + parseInt($("#id_Brea_thing").val() ) 


    $("#apgar").val(ret);
    $("#id_agpar_score").val(ret);
  });

  
 
  
</script>


{% endblock content %}


  
 
  
</script>