{% extends "main/header.html "%}
{% load static  %}
{% block content%}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h2 class="h3">All Infants

     
   </h2>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Add Child</a></button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  {% include "main/messages.html" %}




<table class="table table-hover">
<thead class="thead-dark">

<tr>
   <th scope="col">Child id</th>
  <th scope="col">Mother's Name</th>
  <th scope="col">Heart Rate</th>
  <th scope="col">Skin Colour</th>
  <th scope="col">Reflex</th>
  <th scope="col">Breathing</th>
  <th scope="col">Muscle Tone</th>
 <th scope="col">AgPar Score</th>
 <th scope="col">Action</th>
</tr>
</thead>
<tbody>
{% for child in children %}
<tr>
<th scope="row">{{  child.childregno}}</th>
   <th scope="row">{{  child.motherid.patient_name}} {{ child.motherid.patient_surname}}</th>
  <th scope="row">{{  child.heartrate}}</th>
  <th scope="row">{{  child.skincolour}}</th>
  <th scope="row">{{  child.reflex}}</th>
  <th scope="row">{{  child.Breathing }}</th>
  <th scope="row">{{  child.muscletone}}</th>
  <th scope="row"> {{ child.agparscore }}</th>

 
  
  <td><div class="btn-group dropleft">
<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Action
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href=" url 'add-medical-record' child.id ">Create MR</a>
<a class="dropdown-item" href="{% url 'child-detail' child.id %}">View</a>
<a class="dropdown-item" href=" url 'child-update' child.id ">Update</a>
<a class="dropdown-item" href=" url 'delete-child' child.id  ">Delete</a>


</div>
</div></td>
</tr>

</tbody>

{% endfor %}
</table>
<nav aria-label="Page navigation example">
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center">
{% if is_paginated %}

  {% if page_obj.has_previous %}
   <li class="page-item disabled"> <a class="btn btn-outline-secondary mb-4"  href="?page=1">First </a></li>
   <li class="page-item disabled"> <a class="btn btn-outline-secondary mb-4"  href="?page={{ page_obj.previous_page_number}}">Previous </a></li>
  {% endif %}

  {%  for num in page_obj.paginator.page_range  %}

    {% if page_obj.number == num %}

    <li class="page-item disabled">  <a class="btn btn-outline-info mb-4"  href="?page={{ num }}">{{ num }} </a></li>

    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

        <li class="page-item disabled"> <a class="btn btn-outline-info mb-4"  href="?page={{ num }}">{{ num }} </a></li>
     {% endif %}

    {% endfor%}

{% if page_obj.has_next %}
 <li class="page-item disabled">   <a class="btn btn-outline-info mb-4"  href="?page={{ page_obj.next_page_number }}">Next </a></li>
     <li class="page-item disabled">   <a class="btn btn-outline-info mb-4"  href="?page={{ page_obj.paginator.num_pages }}">Last </a></li>
  {% endif %}
  {% endif %}



</ul>
</nav>






    
{% endblock content %}
    