{% extends "main/header.html "%}
{% load crispy_forms_tags %}
{% block content%}
<div class="pcoded-inner-content">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

    
    {% if object.username  %}
    <h1 class="h2">Update User</h1>
      
      {% else %}
      <h1 class="h2">Add New User</h1>

    {% endif %}
      
    
      </div>

<form  method="Post" autocomplete="off"> 
  <div class="container">
    <div class="row">
      <div class="col">
  {% csrf_token %}


{{ form|crispy }}



 <button type="submit" class="btn btn-info">Submit</button>

 </form>
</div>
<div class="col">
  </div>
</div>
</div>
</div>
{% endblock %}
