{% extends "main/header.html" %}
{% load mathfilters %}
{% load static  %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


{% block content %}

 <script src="{% static 'main/js/chartt.js' %}"></script>


 
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!-- task, page, download counter  start -->
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-purple">{{ totalpatients }}</h4>
                                            <h6 class="text-muted m-b-0">Patients</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fa fa-user f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'patients' %}">
                                <div class="card-footer bg-c-purple">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0"> View </p>
                                        </div>
                                        <div class="col-3 text-right">
                                         
                                            <i class="fa fa-eye text-white f-16"></i>
                                        </div>
                                    </div>

                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-green">{{ totalchildren }}</h4>
                                            <h6 class="text-muted m-b-0">infants born</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="ti-linux f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'child-list' %}">
                                <div class="card-footer bg-c-green">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">View</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-eye text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-red">{{ lowsurvival }}</h4>
                                            <h6 class="text-muted m-b-0">Poor heart rate</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="ti-heart-broken f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-red">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">view</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-eye text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-blue">0</h4>
                                            <h6 class="text-muted m-b-0">x</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="ti-heart-broken f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-blue">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">View</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-line-chart text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task, page, download counter  end -->
            <div class="col-xl-8 col-md-12">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>Top priority</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                            <li><i class="fa fa-trash close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <div class="chk-option">
                                                        <div class="checkbox-fade fade-in-primary">
                                                            <label class="check-task">
                                                                <input type="checkbox" value="">
                                                                <span class="cr">
                                                                        <i class="cr-icon fa fa-check txt-default"></i>
                                                                    </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                   Child Info
                                                </th>
                                                <th>Assigned Nurse</th>
                                                <th>Date of Birth</th>
                                                <th class="text-right">Priority</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for child in lowsurvivalq  %}
                                                  
                                            
                                            <tr>
                                                <td>
                                                    <div class="chk-option">
                                                        <div class="checkbox-fade fade-in-primary">
                                                     
                                                         
                                                                
                                                                    <i class="ti-support f-28"></i>
                                                                 
                                                     
                                                        </div>
                                                    </div>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="{% static 'main/images/neo.png' %}" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                        <div class="d-inline-block">
                                                            <h6>{{ child.childregno }}</h6>
                                                            <p class="text-muted m-b-0">{{ child.motherid.patient_surname }}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{ child.nurseincharge.last_name }}</td>
                                                <td>{{ child.Dob|date:"d M Y" }}</td>
                                                <td class="text-right"><label class="label label-danger">High</label></td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="text-right m-r-20">
                                            <a href="#!" class=" b-b-primary text-primary">View all Children</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-12">
                        
                            <div class="card quater-card">
                                <div class="card-block">
                                    <h6 class="text-muted m-b-15">Born Per Month</h6>
                                    <canvas id="mylineChart" width="200" height="200"></canvas>
                                </div>
                            </div>
                               <div class="card ">
                                <div class="card-header">
                                    <h5>Ratio Rate</h5>
                                    <div class="card-header-right">
                                       
                       
                                    </div>
                                </div>
                                <div class="card-block">
                                    {{ lowsurvival|div:totalchildren|mul:100 }}
                                    <canvas id="myPieChart" width="10" height="10"></canvas>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
       
     
        <script>
            const ctxline = document.getElementById('mylineChart').getContext('2d');
            const mylineChart = new Chart(ctxline, {
                type: "line",
                data: {
                    labels: [ 
                    {% for b in a %}
                     " {{  b.month|date:"M y" }}",
                   
                      {% endfor %}
                
                    ],
                    datasets: [{
                        label: [
                          
                      'Born/month'
                      
                      ],
                        data: [
                          
                      {% for b in a %}
                      {{ b.c }}
                      {% if not forloop.last %},
              {% endif %}
                      {% endfor %}
                        
             
                        
                        ],
                        
                   backgroundColor: [
                            'rgba(0, 200, 5,0.5)',
                         
                          
                            
                        ],
                        borderColor: [
                            'rgba(0, 09, 0, 1)',
                           
                          
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
  y: {
    ticks: {
      stepSize: 1,
      beginAtZero: true,
    //   precision: 0,
      
    },
  },
},
      }
            });
            </script>

<script>
    const ctxpie = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(ctxpie, {
        type: "pie",
        data: {
            labels: [
            
            ],
            datasets: [{
                label: '',
                data: [
                  
             {{ totalchildren }}, {{ lowsurvival }}
                
                 
                
                ],
                
           backgroundColor: [
                    'rgba(0, 200, 5,0.5)',
                    'rgba(255, 0, 1,0.5)',
                  
                    
                ],
                borderColor: [
                    'rgba(255, 255, 255 , 1)',
                   
                  
                ],
                borderWidth: 1
            }]
        },
      
    });
    </script>

{% endblock content %}
